body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  margin: 0 -.5rem;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 -.5rem;
}
.col {
  flex: 1 0 0;
}
.col-auto {
  flex: 0 0 auto;
}
.col-1 {
  flex: 0 0 8.33333%;
}
.col-2 {
  flex: 0 0 16.66666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333%;
}
.col-5 {
  flex: 0 0 41.66666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.6666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.container {
  max-width: 1200px;
 margin: 0 auto;
 padding: .5rem;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button {
  font-family: 'Raleway', sans-serif;
  background-color:white;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 34px 0;
  margin: 0;
  text-decoration: none;
}
.dropdown button:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
  text-decoration: underline orange;

}
.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul a {
  background-color: white;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  width: 180px;
}
.dropdown ul a:hover {
  background-color: white;
color: orange;
}
  .navbar {
    font-family: 'Roboto', sans-serif;
    background-color: white;
  }
  .navbar nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
    max-width: 900px;
    height: 120px;
    margin: 0 auto;
  
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   }
   .navbar ul li {
    display: inline;
   }
   .navbar ul li a {
    color: black;
    text-decoration: none;
  
    display: inline-block;
    padding: 10px 15px; }
  .navbar .logo {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  
    color: black;
    font-weight: bolder;
    text-decoration: underline orange;
    font-size: 40px;
    border-radius: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
  }
  span.before::before {
    content: '|';
    position: relative;
    left: -2px;
    top: 34px;
    color: #696969;
    font-size: 18px;
    font-weight: 500;
  }
  .img-1 {
    padding: 18px 0;
  }
  .img {
    width: 100%;
  }
  .hero {
    min-height: 40vh;
    padding: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .hero-light {
    color: black;
  }
  .hero-center {
  text-align: center;
  }
  .hero-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 17px;
  }
  .hero-font:hover {
    color: orange;
  }
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: rgb(29, 27, 27);
  }
  h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  color: rgb(82, 80, 80);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }


  footer {
    padding: 60px 0;
  }
  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 15px;
  }
.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-lights {
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.hero-lights:hover {
  color: black;
}
i {
  padding: 32px 0;
  margin-right: 5px;
}
aside {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.card1 {
  display: flex;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
}
.icons {
padding: 15px 0;
}
.footer-body {
  line-height: 30px;
}
.hero-font1 {
  font-family: 'Lobster', cursive;
}
#icons {
  display: flex;
  width: 50px;
  height: 100px;
}
#icons:hover {
  color: orange;
}
.position-fixed {
  background-color: rgb(197, 148, 57);
 width: 45px;
 height: 45px;
 display: flex;
 text-align: center;
 justify-content: center;
align-items: center;


 position: fixed;
 right: 25px;
 bottom: 25px;
}